$Primary_1: hsl(7, 99%, 70%); /*Soft red */
$Primary_2: hsl(51, 100%, 49%); /* Yellow */
$Primary_3: hsl(167, 40%, 24%); /* Dark desaturated cyan */
$Primary_4: hsl(198, 62%, 26%); /* Dark blue */
$Primary_5: hsl(168, 34%, 41%); /* Dark moderate cyan */
$Neutral_1: hsl(212, 27%, 19%); /* Very dark desaturated blue */
$Neutral_2: hsl(213, 9%, 39%); /* Very dark grayish blue */
$Neutral_3: hsl(232, 10%, 55%); /* Dark grayish blue */
$Neutral_4: hsl(210, 4%, 67%); /* Grayish blue */
$Neutral_5: hsl(0, 0%, 100%); /* White */
$Font_1: 'Barlow', sans-serif;
$Font_2: 'Fraunces', serif;
$Light_Font: 600;
$Medium_Font: 700;
$Heavy_Font: 900;

body {
  margin: 0;
  overflow-x: hidden;
}
ul {
  list-style-type: none;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: $Neutral_2;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: $Neutral_3;
}
::-webkit-scrollbar-button {
  background-color: $Neutral_2;
}

.top-image {
  background-image: url("../images/desktop/image-header.jpg");
  max-width: 1440px;
  height: 800px;
  background-size: cover;
}

.navbar {
  width: 1316px;
  height: 56px;
  padding-top: 36px;
  padding-left: 36px;
  display: grid;
  grid-template-columns: 60% 40%;
}

.menu-items {
  font-family: $Font_1;
  color: $Neutral_5;
  font-weight: $Light_Font;
  font-size: 18px;
  line-height: 48px;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.menu-4 {
  height: 3rem;
  font-family: $Font_2;
  font-size: 16px;
  color: $Neutral_1;
  background-color: $Neutral_5;
  text-align: center;
  margin-right: 48px;
  border-radius: 25px;
  text-transform: uppercase;
}

.heading {
  font-family: $Font_2;
  color: $Neutral_5;
  text-transform: uppercase;
  letter-spacing: 8.75px;
  font-size: 28px;
  font-style: normal;
  text-align: center;
}

.heading-text {
  padding-top: 5rem;
  padding-left: 11rem;
}

.down-arrow {
  padding-left: 50%;
  padding-top: 3rem;
}

.main-content {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  
}


.transform-txt {
  padding-top: 50px;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  display: grid;
  grid-template-rows: 40% 20% 40%;
  justify-content: center;
    
} 

.trans-heading {
  padding-top: 75px;
}

.transform-img {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  height: 600px; 
}

.stand-out-img {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  height: 600px;
}

.stand-out-txt {
  grid-column: 2 / span 1;
  grid-row: 2 span 1;
}

.cherry-img {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
  height: 600px;
}

.cherry-txt {
  margin-top: -250px;
  display: grid;
  grid-template-rows: 35% 65%;
  justify-content: center;
  text-align: center;
}

.cherry-txt p {
  font-family: $Font_1;
  font-weight: 600;
  font-size: 16px;
  color: $Neutral_2;
  line-height: 1.7rem;
  
}

.orange-img {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  height: 600px;
}

.orange-txt {
  margin-top: -250px;
  display: grid;
  grid-template-rows: 35% 65%;
  justify-content: center;
  text-align: center;
  
}

.orange-txt p {
  font-family: $Font_1;
  font-weight: 600;
  font-size: 16px;
  color: $Neutral_2;
  line-height: 1.7rem;
  
}

h3 {
  font-family: $Font_2;
  font-weight: 900;
  font-size: 40px;
  color: $Neutral_1;
}

h4 {
  font-family: $Font_2;
  font-weight: 900;
  font-size: 28px;
  color: $Neutral_1;
}

h5 {
  font-family: $Font_2;
  font-weight: 900;
  font-size: 15px;
  color: $Neutral_1;
  text-transform: uppercase;
}

.detail-para {
  font-family: $Font_1;
  font-weight: 600;
  font-size: 18px;
  color: $Neutral_3;
  height: 90px;
  line-height: 1.7rem;
}

.stand-out-txt {
  padding-left: 165px;
  padding-top: 158px;
}








@media screen and (min-width: 1920px) {
  .top-image {
    background-image: url("../images/desktop/image-header.jpg");
    max-width: 1920px;
    height: 1067px;
    background-size: cover;
  }
}







