/*Soft red */
/* Yellow */
/* Dark desaturated cyan */
/* Dark blue */
/* Dark moderate cyan */
/* Very dark desaturated blue */
/* Very dark grayish blue */
/* Dark grayish blue */
/* Grayish blue */
/* White */
body {
  margin: 0;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #5a636c;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #818498;
}

::-webkit-scrollbar-button {
  background-color: #5a636c;
}

.top-image {
  background-image: url("../images/desktop/image-header.jpg");
  max-width: 1440px;
  height: 800px;
  background-size: cover;
}

.navbar {
  width: 1316px;
  height: 56px;
  padding-top: 36px;
  padding-left: 36px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
}

.menu-items {
  font-family: "Barlow", sans-serif;
  color: white;
  font-weight: 600;
  font-size: 18px;
  line-height: 48px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
}

.menu-4 {
  height: 3rem;
  font-family: "Fraunces", serif;
  font-size: 16px;
  color: #23303e;
  background-color: white;
  text-align: center;
  margin-right: 48px;
  border-radius: 25px;
  text-transform: uppercase;
}

.heading {
  font-family: "Fraunces", serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 8.75px;
  font-size: 28px;
  font-style: normal;
  text-align: center;
}

.heading-text {
  padding-top: 5rem;
  padding-left: 11rem;
}

.down-arrow {
  padding-left: 50%;
  padding-top: 3rem;
}

.main-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
}

.transform-txt {
  padding-top: 50px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40% 20% 40%;
      grid-template-rows: 40% 20% 40%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.trans-heading {
  padding-top: 75px;
}

.transform-img {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  height: 600px;
}

.stand-out-img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
  height: 600px;
}

.stand-out-txt {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  grid-row: 2 span 1;
}

.cherry-img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / span 1;
  height: 600px;
}

.cherry-txt {
  margin-top: -250px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 35% 65%;
      grid-template-rows: 35% 65%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.cherry-txt p {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #5a636c;
  line-height: 1.7rem;
}

.orange-img {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / span 1;
  height: 600px;
}

.orange-txt {
  margin-top: -250px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 35% 65%;
      grid-template-rows: 35% 65%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.orange-txt p {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #5a636c;
  line-height: 1.7rem;
}

h3 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 40px;
  color: #23303e;
}

h4 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 28px;
  color: #23303e;
}

h5 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 15px;
  color: #23303e;
  text-transform: uppercase;
}

.detail-para {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #818498;
  height: 90px;
  line-height: 1.7rem;
}

.stand-out-txt {
  padding-left: 165px;
  padding-top: 158px;
}

@media screen and (min-width: 1920px) {
  .top-image {
    background-image: url("../images/desktop/image-header.jpg");
    max-width: 1920px;
    height: 1067px;
    background-size: cover;
  }
}
/*# sourceMappingURL=styles.css.map */